header{
    background-image: URL(../Images/header7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: aqua;
    border:1px solid Green;
    position:relative;
    border-radius: 10px;
}
header h1{
    float:left;
}
nav {
    
	background-color: Black;
	padding: 5px;
    position: absolute;
    bottom:0;
    width:100%;
    border-radius: 5px;
}
nav ul{
	text-align:center;
	font-size: 1.2em;
    
}
nav ul li{
	list-style-type:none;
	background-color:black;
	display: inline;
	padding: 15px;
	margin: 5px;
	
	
}
nav ul li a{
	color: lawngreen;
	text-decoration: none;
}
nav ul li:hover
{
	background-color: darkolivegreen;
}
body{
    background: lightgreen;
}
#content{
    
    float: left;
    width: 60%;
    margin-right: 0px;
    border: 3px solid black;
    text-align: center;
  
}
aside{
	float: right;
	width: 35.0%;
}

aside h2{
    text-align: center;
    font-size: 10px;
}
aside section{
    border:2px solid darkolivegreen;
    background-color: azure;
}

footer{clear:both;
border:3px solid green;
padding:0;
margin:0;
position: relative;
bottom:0px;
width:100%;
background-color:darkolivegreen;
text-align: center;
}


main section p{
    color:black;
}


footer ul{
    text-align: center;
    color: aqua;
}
footer ul li{
    display:inline;
    list-style-type: none;
    padding: 15px;
    margin:5px;
    border:1px solid white;
    
}
footer ul li:hover{
    color:aquamarine;
}
footer ul li a{
    text-decoration:none;
    color:lawngreen;
}
footer p{
    text-align: center;
}
footer a{
    text-decoration: underline;
    color:red;
    text-align:center;
  
}




#active {
    background-color: darkolivegreen;
}

#staff {
    text-align: left;
}
#staff h2{
    text-align: left;
}






p{
    color:white;
    
}
#aboutuspic {
    float: left;
    width: 200px;
}

#aboutuslink {
    text-decoration: underline;
        color:blue;
}
h2{
    color: darkgreen;
    font-family: monospace;
    font-size: 2em;
}
section h3{
    color:darkgreen;
    font-family: monospace;
    font-size:2em;
}
section h2{
    color: darkgreen;
    font-family: monospace;
    font-size: 25px;
}
h4{
    font-size:20px;
     color:darkgreen;
    font-family: monospace;
}
.col_detail{
	column-count:3;
	column-rule:3px solid darkolivegreen;
	column-gap:100px;
	padding:2px;

    
}


#FAQs {clear:both;
    
    padding:10px;
    margin:10px;
    border:3px solid darkolivegreen;
    background-color: aqua;

}

iframe {
    border: 0;
}

.image_size {
 width:90%;
float: none;
}
.species {
    width: 23%;
    float:left;
    margin: 5px;
}
.edible_section_style {
    text-align: center;
    
}

.Edible_section_style {
    ba
}
