header{
    background-image: URL(../Images/mushrooms-in-the-forest.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: aqua;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border:1px solid Green;
    position:relative;
    border-radius: 10px;
}
header h1{
    float:left;
}
nav {
    
	background-color: Black;
	padding: 5px;
    position: absolute;
    bottom:0;
    width:100%;
    border-radius: 5px;
}
nav ul{
	text-align:center;
	font-size: 1.2em;
    
}
nav ul li{
	list-style-type:none;
	background-color:slategrey;
	display: inline;
	padding: 15px;
	margin: 5px;
    border-radius: 2px;
	
	
}
nav ul li a{
	color: lawngreen;
	text-decoration: none;
}
nav ul li:hover
{
	background-color: darkolivegreen;
}
body{
    background-image:       URL(../Images/grassbackground.jpg);
    background-size: cover;
}
#aboutUs{
    
    float: left;
    width: 63.5%;
    margin-right: 0px;
    margin-left: 1em;
       border:2px solid darkolivegreen;
    background-color: aquamarine;
    padding:0.5em;
    
  
}

section{
    padding:0.5em;
}
aside{
	width: 30%;
    float:left;
    margin:1em; 
}

aside h2{
    text-align: center;
    font-size: 10px;
}
aside section{
    border:2px solid darkolivegreen;
    background-color: aquamarine;
    padding:0.5em;
}

footer{clear:both;
padding:0;
margin:20px;
position: static;
bottom:0px;
width:100%;
background-color:black;
text-align: center;
}


main section p{
    color:black;
}
body p{
    font-family: aial;
}

footer ul{
    text-align: center;
    padding-top: 0.7em;
}
footer ul li{
    display:inline;
    list-style-type: 
    padding: 15px;
    margin:5px;
    border:1px solid white;
    
}

footer ul li a{
    text-decoration:none;
    color:lawngreen;
}
footer p{
    text-align: center;
    color: white;
}
footer a{
    text-decoration: underline;
    color:red;
    text-align:center;
  
}

ul li h5{
      color: darkgreen;
    font-family: monospace;
    font-size: 1.5em;
}


#active {
    background-color: darkolivegreen;
    border: 1px solid white;
    border-radius: 0.2em;
}



section p{
    font-family: arial;
}
#aboutuspic {
    float: left;
    width: 12em;
}

.linkStyle {
    text-decoration: underline;
        color:blue;
}
h2{
    color: darkgreen;
    font-family: monospace;
    font-size: 2em;
}
section h3{
    color:darkgreen;
    font-family: monospace;
    font-size:2em;
}
section h2{
    color: darkgreen;
    font-family: monospace;
    font-size: 25px;
}
h4{
    font-size:20px;
     color:darkgreen;
    font-family: monospace;
}
#col_detail{
	column-count:3;
	column-rule:3px solid darkolivegreen;
	padding:2px;

    
}

.headingStyle{
    background-color: aquamarine;
}


ul li{
    font-family: arial;
}
.image_size {
 height:20em;
}
h5{
     color: darkgreen;
    font-family: monospace;
    font-size: 1.5em;
    
}

.edible_section_style {
    text-align: center;
    background-color: aquamarine;
    border: 2px solid darkolivegreen;
    border-radius: 1em;
    margin-bottom: 10px;
    padding:10px;
    
    
}
.required{
	font-weight:bold;
	color:red;
}
label{
	float:left;
	width:112px;
	padding-right:10px;
	text-align:center;
}
input{
	margin-left:1em;
	margin-bottom:0.5em;
width:220px;
}
input[type="radio"]{width:10px;}
input[type="checkbox"]{width:15px;}
#button{
margin-left:138px;}
#button,#reset
{
	margin-top:0.5em;
	width:8em;
	background-color:orange;
	border:2px solid black;
}
#contactform{
	margin:15px 200px;
	padding:20px;
	border:solid black;
	background:white;
	min-height:500px;
}
table{
    width:90%;
    border:1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    margin: 20px;
    
}
th, tr, td
{
    text-align: left;
    border: 1px solid black;
    
}
ol li{
    font-family: arial
}

